# This code will download all the datasets, please run that code. It will take some time.

In [ ]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
movies=pd.read_csv('movies.csv')
rating=pd.read_csv('ratings.csv')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
rating.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [5]:
movies['year'] = movies.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies['year'] = movies.year.str.extract('(\d\d\d\d)',expand=False)
movies['title'] = movies.title.str.replace('(\(\d\d\d\d\))', '')
movies['title'] = movies['title'].apply(lambda x: x.strip())

In [6]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [7]:
movies['genres'] = movies.genres.str.split('|')
movies.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

In [8]:
moviesWithGenres_df = movies.copy()
for index, row in movies.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
rating.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [11]:
rating=rating.drop('timestamp',axis=1)

In [12]:
rating.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

# User Input

In [13]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputm = pd.DataFrame(userInput)
inputm

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

# 	Collaborative filtering System

In [14]:
inputId = movies[movies['title'].isin(inputm['title'].tolist())]
inputm = pd.merge(inputId, inputm)
inputm = inputm.drop('genres', 1).drop('year', 1)
inputm

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [15]:
userSubset = rating[rating['movieId'].isin(inputm['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
19        4      296     4.0
441      12     1968     3.0
479      13        2     2.0
531      13     1274     5.0
681      14      296     2.0

In [16]:
userSubsetGroup = userSubset.groupby(['userId'])

In [17]:
userSubset['userId'].value_counts()

81742     5
66467     5
168907    5
34945     5
235304    5
         ..
198019    1
30395     1
32442     1
3764      1
6147      1
Name: userId, Length: 116140, dtype: int64

In [18]:
userSubsetGroup.get_group(81742)

         userId  movieId  rating
7609987   81742        1     5.0
7609988   81742        2     1.0
7610052   81742      296     5.0
7610257   81742     1274     4.0
7610408   81742     1968     3.0

In [19]:
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [20]:
userSubsetGroup = userSubsetGroup[0:100]
userSubsetGroup

[(75,
        userId  movieId  rating
  7507      75        1     5.0
  7508      75        2     3.5
  7540      75      296     5.0
  7633      75     1274     4.5
  7673      75     1968     5.0),
 (106,
        userId  movieId  rating
  9083     106        1     2.5
  9084     106        2     3.0
  9115     106      296     3.5
  9198     106     1274     3.0
  9238     106     1968     3.5),
 (686,
         userId  movieId  rating
  61336     686        1     4.0
  61337     686        2     3.0
  61377     686      296     4.0
  61478     686     1274     4.0
  61569     686     1968     5.0),
 (815,
         userId  movieId  rating
  73747     815        1     4.5
  73748     815        2     3.0
  73922     815      296     5.0
  74362     815     1274     3.0
  74678     815     1968     4.5),
 (1040,
         userId  movieId  rating
  96689    1040        1     3.0
  96690    1040        2     1.5
  96733    1040      296     3.5
  96859    1040     1274     3.0
  96922    1040     1968     4.0),
 (1130,
          userId  movieId  rating
  104167    1130        1     0.5
  104168    1130        2     4.0
  104214    1130      296     4.0
  104363    1130     1274     4.5
  104443    1130     1968     4.5),
 (1502,
          userId  movieId  rating
  133876    1502        1     4.0
  133877    1502        2     3.5
  133917    1502      296     5.0
  134058    1502     1274     4.0
  134133    1502     1968     5.0),
 (1599,
          userId  movieId  rating
  142722    1599        1     4.0
  142723    1599        2     4.0
  142810    1599      296     5.0
  143068    1599     1274     4.0
  143220    1599     1968     4.0),
 (1625,
          userId  movieId  rating
  146811    1625        1     4.0
  146812    1625        2     3.5
  146867    1625      296     5.0
  147011    1625     1274     4.0
  147107    1625     1968     4.0),
 (1950,
          userId  movieId  rating
  176143    1950        1     5.0
  176144    1950        2     4.0
  176186    1950      296     5.0
  176349    1950     1274     4.0
  176444    1950     1968     4.0),
 (2065,
          userId  movieId  rating
  185283    2065        1     3.0
  185284    2065        2     3.0
  185340    2065      296     4.0
  185472    2065     1274     3.0
  185575    2065     1968     3.0),
 (2128,
          userId  movieId  rating
  191789    2128        1     3.0
  191790    2128        2     4.0
  191830    2128      296     4.5
  191932    2128     1274     5.0
  191979    2128     1968     5.0),
 (2432,
          userId  movieId  rating
  221536    2432        1     3.0
  221537    2432        2     3.0
  221593    2432      296     4.0
  221842    2432     1274     2.0
  222002    2432     1968     3.0),
 (2791,
          userId  movieId  rating
  254324    2791        1     4.5
  254325    2791        2     3.0
  254344    2791      296     4.5
  254446    2791     1274     4.5
  254493    2791     1968     4.5),
 (2839,
          userId  movieId  rating
  259233    2839        1     4.0
  259234    2839        2     3.0
  259292    2839      296     5.0
  259427    2839     1274     5.0
  259523    2839     1968     4.0),
 (2948,
          userId  movieId  rating
  269447    2948        1     4.0
  269448    2948        2     3.0
  269502    2948      296     4.0
  269603    2948     1274     3.0
  269675    2948     1968     2.0),
 (3025,
          userId  movieId  rating
  278199    3025        1     3.0
  278200    3025        2     3.5
  278255    3025      296     4.5
  278410    3025     1274     3.0
  278499    3025     1968     4.0),
 (3040,
          userId  movieId  rating
  280209    3040        1     4.0
  280210    3040        2     4.0
  280221    3040      296     5.0
  280282    3040     1274     5.0
  280313    3040     1968     5.0),
 (3186,
          userId  movieId  rating
  293305    3186        1     2.5
  293306    3186        2     2.0
  293361    3186      296     4.5
  293562    3186     1274     2.0
  293680    3186     1968     3.5),
 (3271,
          userId  movieId  rating
  299824    3271        1     3.5
  299825    3271        2     3.0
  299876    3271      296     4.5
  300015    3271     1274     2.0
  300084    3271     1968     3.5),
 (3429,
          userId  movieId  rating
  316845    3429        1     4.0
  316846    3429        2     3.0
  316876    3429      296     3.0
  316948    3429     1274     4.0
  317009    3429     1968     3.0),
 (3734,
          userId  movieId  rating
  340015    3734        1     5.0
  340016    3734        2     4.0
  340087    3734      296     2.0
  340315    3734     1274     5.0
  340465    3734     1968     5.0),
 (4099,
          userId  movieId  rating
  375223    4099        1     5.0
  375224    4099        2     3.0
  375288    4099      296     3.0
  375504    4099     1274     3.5
  375651    4099     1968     4.0),
 (4208,
          userId  movieId  rating
  387004    4208        1     4.0
  387005    4208        2     2.0
  387119    4208      296     2.0
  387377    4208     1274     3.0
  387575    4208     1968     4.0),
 (4282,
          userId  movieId  rating
  397984    4282        1     4.0
  397985    4282        2     4.0
  398040    4282      296     4.0
  398210    4282     1274     4.0
  398336    4282     1968     3.5),
 (4292,
          userId  movieId  rating
  400307    4292        1     3.5
  400308    4292        2     3.0
  400349    4292      296     4.5
  400503    4292     1274     5.0
  400587    4292     1968     3.5),
 (4415,
          userId  movieId  rating
  408738    4415        1     4.5
  408739    4415        2     3.5
  408844    4415      296     5.0
  409135    4415     1274     0.5
  409343    4415     1968     3.0),
 (4586,
          userId  movieId  rating
  426228    4586        1     4.5
  426229    4586        2     5.0
  426259    4586      296     3.5
  426396    4586     1274     3.5
  426466    4586     1968     4.0),
 (4725,
          userId  movieId  rating
  439244    4725        1     5.0
  439245    4725        2     4.0
  439263    4725      296     4.0
  439313    4725     1274     2.0
  439349    4725     1968     5.0),
 (4818,
          userId  movieId  rating
  449041    4818        1     4.0
  449042    4818        2     2.0
  449108    4818      296     5.0
  449267    4818     1274     3.0
  449371    4818     1968     2.5),
 (5104,
          userId  movieId  rating
  475288    5104        1     2.0
  475289    5104        2     0.5
  475393    5104      296     5.0
  475670    5104     1274     4.0
  475873    5104     1968     2.0),
 (5165,
          userId  movieId  rating
  483940    5165        1     4.0
  483941    5165        2     4.0
  483966    5165      296     3.5
  484072    5165     1274     3.0
  484124    5165     1968     4.0),
 (5547,
          userId  movieId  rating
  513560    5547        1     4.0
  513561    5547        2     3.5
  513603    5547      296     4.5
  513707    5547     1274     4.0
  513767    5547     1968     3.0),
 (6082,
          userId  movieId  rating
  561189    6082        1     3.5
  561190    6082        2     3.0
  561224    6082      296     4.0
  561338    6082     1274     4.0
  561406    6082     1968     1.5),
 (6207,
          userId  movieId  rating
  575407    6207        1     3.5
  575408    6207        2     2.0
  575436    6207      296     5.0
  575523    6207     1274     5.0
  575565    6207     1968     4.5),
 (6366,
          userId  movieId  rating
  594942    6366        1     2.0
  594943    6366        2     2.5
  594996    6366      296     4.0
  595144    6366     1274     4.0
  595217    6366     1968     3.0),
 (6482,
          userId  movieId  rating
  605173    6482        1     5.0
  605174    6482        2     3.0
  605264    6482      296     3.0
  605493    6482     1274     1.0
  605691    6482     1968     5.0),
 (6530,
          userId  movieId  rating
  611461    6530        1     3.5
  611462    6530        2     4.0
  611614    6530      296     4.0
  611969    6530     1274     3.0
  612202    6530     1968     3.5),
 (7235,
          userId  movieId  rating
  668396    7235        1     2.5
  668397    7235        2     1.0
  668428    7235      296     5.0
  668523    7235     1274     2.0
  668575    7235     1968     2.5),
 (7403,
          userId  movieId  rating
  682305    7403        1     4.0
  682306    7403        2     4.0
  682369    7403      296     4.5
  682518    7403     1274     4.5
  682597    7403     1968     3.5),
 (7641,
          userId  movieId  rating
  705768    7641        1     3.0
  705769    7641        2     2.0
  705806    7641      296     3.0
  705903    7641     1274     3.0
  705982    7641     1968     5.0),
 (7996,
          userId  movieId  rating
  738175    7996        1     5.0
  738176    7996        2     2.0
  738228    7996      296     4.0
  738390    7996     1274     4.0
  738489    7996     1968     4.0),
 (8008,
          userId  movieId  rating
  739532    8008        1     5.0
  739533    8008        2     4.5
  739557    8008      296     5.0
  739659    8008     1274     3.5
  739696    8008     1968     4.0),
 (8086,
          userId  movieId  rating
  745813    8086        1     3.0
  745814    8086        2     2.0
  745843    8086      296     3.0
  745928    8086     1274     4.0
  745988    8086     1968     3.0),
 (8245,
          userId  movieId  rating
  760027    8245        1     3.0
  760028    8245        2     3.0
  760060    8245      296     4.0
  760159    8245     1274     1.0
  760229    8245     1968     3.0),
 (8572,
          userId  movieId  rating
  791721    8572        1     4.0
  791722    8572        2     3.5
  791760    8572      296     5.0
  791861    8572     1274     4.0
  791939    8572     1968     4.5),
 (8675,
          userId  movieId  rating
  801136    8675        1     3.5
  801137    8675        2     3.5
  801201    8675      296     4.0
  801373    8675     1274     4.0
  801480    8675     1968     3.5),
 (9101,
          userId  movieId  rating
  842365    9101        1     4.0
  842366    9101        2     3.0
  842420    9101      296     3.5
  842540    9101     1274     3.5
  842634    9101     1968     2.5),
 (9358,
          userId  movieId  rating
  863664    9358        1     4.0
  863665    9358        2     2.0
  863710    9358      296     5.0
  863877    9358     1274     4.5
  863974    9358     1968     3.0),
 (9663,
          userId  movieId  rating
  886074    9663        1     4.0
  886075    9663        2     3.5
  886157    9663      296     5.0
  886372    9663     1274     3.5
  886512    9663     1968     3.0),
 (9994,
          userId  movieId  rating
  923978    9994        1     5.0
  923979    9994        2     3.0
  924026    9994      296     5.0
  924194    9994     1274     5.0
  924283    9994     1968     3.5),
 (10248,
          userId  movieId  rating
  948970   10248        1     4.0
  948971   10248        2     3.0
  949003   10248      296     2.5
  949106   10248     1274     2.0
  949166   10248     1968     3.5),
 (10315,
          userId  movieId  rating
  955563   10315        1     4.0
  955564   10315        2     3.0
  955634   10315      296     4.0
  955882   10315     1274     3.0
  956023   10315     1968     4.0),
 (10368,
          userId  movieId  rating
  960673   10368        1     4.0
  960674   10368        2     3.0
  960724   10368      296     3.5
  960943   10368     1274     4.0
  961087   10368     1968     3.5),
 (10607,
          userId  movieId  rating
  984869   10607        1     3.0
  984870   10607        2     4.0
  984897   10607      296     5.0
  984988   10607     1274     4.0
  985053   10607     1968     4.0),
 (10707,
          userId  movieId  rating
  993876   10707        1     3.0
  993877   10707        2     1.5
  993922   10707      296     4.5
  994091   10707     1274     4.5
  994173   10707     1968     4.0),
 (10863,
           userId  movieId  rating
  1007945   10863        1     4.5
  1007946   10863        2     3.5
  1007993   10863      296     5.0
  1008157   10863     1274     4.0
  1008225   10863     1968     4.0),
 (11314,
           userId  movieId  rating
  1047586   11314        1     4.0
  1047587   11314        2     4.0
  1047612   11314      296     5.0
  1047687   11314     1274     4.5
  1047722   11314     1968     4.5),
 (11399,
           userId  movieId  rating
  1057671   11399        1     4.0
  1057672   11399        2     3.5
  1057707   11399      296     5.0
  1057817   11399     1274     5.0
  1057872   11399     1968     3.5),
 (11769,
           userId  movieId  rating
  1096707   11769        1     3.5
  1096708   11769        2     2.5
  1096785   11769      296     4.5
  1097000   11769     1274     3.5
  1097125   11769     1968     4.5),
 (11827,
           userId  movieId  rating
  1103636   11827        1     3.0
  1103637   11827        2     2.0
  1103718   11827      296     4.0
  1103975   11827     1274     4.0
  1104142   11827     1968     2.0),
 (12069,
           userId  movieId  rating
  1125615   12069        1     4.0
  1125616   12069        2     3.0
  1125663   12069      296     3.0
  1125795   12069     1274     4.0
  1125877   12069     1968     3.0),
 (12120,
           userId  movieId  rating
  1131811   12120        1     1.5
  1131812   12120        2     1.0
  1131869   12120      296     4.5
  1132025   12120     1274     3.0
  1132127   12120     1968     4.5),
 (12211,
           userId  movieId  rating
  1140602   12211        1     2.5
  1140603   12211        2     2.0
  1140647   12211      296     3.0
  1140790   12211     1274     3.5
  1140862   12211     1968     3.0),
 (12325,
           userId  movieId  rating
  1150448   12325        1     3.5
  1150449   12325        2     1.5
  1150504   12325      296     4.0
  1150677   12325     1274     4.0
  1150754   12325     1968     4.5),
 (12916,
           userId  movieId  rating
  1208383   12916        1     5.0
  1208384   12916        2     3.0
  1208415   12916      296     5.0
  1208561   12916     1274     4.0
  1208626   12916     1968     4.0),
 (12921,
           userId  movieId  rating
  1209144   12921        1     4.0
  1209145   12921        2     3.0
  1209219   12921      296     5.0
  1209410   12921     1274     4.0
  1209551   12921     1968     3.5),
 (13053,
           userId  movieId  rating
  1224899   13053        1     4.0
  1224900   13053        2     3.0
  1224979   13053      296     4.5
  1225210   13053     1274     4.0
  1225350   13053     1968     4.5),
 (13142,
           userId  movieId  rating
  1233446   13142        1     4.5
  1233447   13142        2     3.0
  1233488   13142      296     4.5
  1233586   13142     1274     3.5
  1233653   13142     1968     4.0),
 (13260,
           userId  movieId  rating
  1245032   13260        1     3.0
  1245033   13260        2     3.0
  1245059   13260      296     4.0
  1245133   13260     1274     4.0
  1245177   13260     1968     3.5),
 (13366,
           userId  movieId  rating
  1254199   13366        1     3.0
  1254200   13366        2     1.5
  1254222   13366      296     5.0
  1254309   13366     1274     4.5
  1254340   13366     1968     3.5),
 (13768,
           userId  movieId  rating
  1292089   13768        1     5.0
  1292090   13768        2     3.0
  1292168   13768      296     5.0
  1292400   13768     1274     5.0
  1292534   13768     1968     5.0),
 (13888,
           userId  movieId  rating
  1303399   13888        1     2.0
  1303400   13888        2     4.5
  1303421   13888      296     5.0
  1303475   13888     1274     4.0
  1303509   13888     1968     4.5),
 (13923,
           userId  movieId  rating
  1306109   13923        1     4.0
  1306110   13923        2     4.0
  1306144   13923      296     5.0
  1306280   13923     1274     3.0
  1306375   13923     1968     5.0),
 (13934,
           userId  movieId  rating
  1308045   13934        1     4.0
  1308046   13934        2     3.5
  1308070   13934      296     4.5
  1308147   13934     1274     3.0
  1308187   13934     1968     3.5),
 (14529,
           userId  movieId  rating
  1355284   14529        1     5.0
  1355285   14529        2     0.5
  1355322   14529      296     5.0
  1355434   14529     1274     4.0
  1355486   14529     1968     3.5),
 (14551,
           userId  movieId  rating
  1358185   14551        1     5.0
  1358186   14551        2     4.0
  1358267   14551      296     5.0
  1358513   14551     1274     4.0
  1358699   14551     1968     5.0),
 (14588,
           userId  movieId  rating
  1363480   14588        1     4.0
  1363481   14588        2     3.5
  1363564   14588      296     4.0
  1363782   14588     1274     3.0
  1363935   14588     1968     4.0),
 (14984,
           userId  movieId  rating
  1400478   14984        1     3.0
  1400479   14984        2     3.0
  1400553   14984      296     4.0
  1400765   14984     1274     3.0
  1400914   14984     1968     4.0),
 (15137,
           userId  movieId  rating
  1415541   15137        1     3.0
  1415542   15137        2     4.0
  1415585   15137      296     5.0
  1415691   15137     1274     5.0
  1415758   15137     1968     4.5),
 (15157,
           userId  movieId  rating
  1417931   15157        1     4.0
  1417932   15157        2     1.5
  1417983   15157      296     4.5
  1418129   15157     1274     4.0
  1418230   15157     1968     4.0),
 (15466,
           userId  movieId  rating
  1449952   15466        1     4.5
  1449953   15466        2     3.0
  1450082   15466      296     4.5
  1450421   15466     1274     4.0
  1450606   15466     1968     4.0),
 (15670,
           userId  movieId  rating
  1469180   15670        1     5.0
  1469181   15670        2     2.0
  1469275   15670      296     4.0
  1469544   15670     1274     3.0
  1469718   15670     1968     4.0),
 (15834,
           userId  movieId  rating
  1483553   15834        1     4.5
  1483554   15834        2     4.0
  1483595   15834      296     5.0
  1483704   15834     1274     5.0
  1483758   15834     1968     3.5),
 (16292,
           userId  movieId  rating
  1522401   16292        1     5.0
  1522402   16292        2     3.0
  1522434   16292      296     5.0
  1522518   16292     1274     5.0
  1522567   16292     1968     4.0),
 (16456,
           userId  movieId  rating
  1542620   16456        1     4.0
  1542621   16456        2     1.5
  1542652   16456      296     4.0
  1542794   16456     1274     4.0
  1542863   16456     1968     3.0),
 (16506,
           userId  movieId  rating
  1550054   16506        1     3.5
  1550055   16506        2     3.5
  1550131   16506      296     4.5
  1550334   16506     1274     4.0
  1550452   16506     1968     3.5),
 (17246,
           userId  movieId  rating
  1616747   17246        1     3.5
  1616748   17246        2     3.0
  1616777   17246      296     4.5
  1616862   17246     1274     3.5
  1616907   17246     1968     3.0),
 (17438,
           userId  movieId  rating
  1632436   17438        1     5.0
  1632437   17438        2     2.5
  1632457   17438      296     5.0
  1632533   17438     1274     4.5
  1632562   17438     1968     4.0),
 (17501,
           userId  movieId  rating
  1637824   17501        1     2.0
  1637825   17501        2     2.5
  1637874   17501      296     5.0
  1638017   17501     1274     5.0
  1638111   17501     1968     4.5),
 (17502,
           userId  movieId  rating
  1639070   17502        1     4.5
  1639071   17502        2     3.5
  1639090   17502      296     5.0
  1639152   17502     1274     4.0
  1639192   17502     1968     5.0),
 (17666,
           userId  movieId  rating
  1651563   17666        1     4.0
  1651564   17666        2     2.0
  1651676   17666      296     5.0
  1651930   17666     1274     3.5
  1652105   17666     1968     3.5),
 (17735,
           userId  movieId  rating
  1660801   17735        1     3.0

In [21]:
from math import sqrt
pearsonCorrelationDict = {}
for name, group in userSubsetGroup:
    group = group.sort_values(by='movieId')
    inputm = inputm.sort_values(by='movieId')
    nRatings = len(group)
    temp_df = inputm[inputm['movieId'].isin(group['movieId'].tolist())]
    tempRatingList = temp_df['rating'].tolist()
    tempGroupList = group['rating'].tolist()
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [22]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.827278      75
1         0.586009     106
2         0.832050     686
3         0.576557     815
4         0.943456    1040

In [23]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
64         0.961678   12325
34         0.961538    6207
55         0.961538   10707
67         0.960769   13053
4          0.943456    1040

In [26]:
topUsersRating=topUsers.merge(rating, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0         0.961678   12325        1     3.5
1         0.961678   12325        2     1.5
2         0.961678   12325        3     3.0
3         0.961678   12325        5     0.5
4         0.961678   12325        6     2.5

In [27]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0         0.961678   12325        1     3.5        3.365874
1         0.961678   12325        2     1.5        1.442517
2         0.961678   12325        3     3.0        2.885035
3         0.961678   12325        5     0.5        0.480839
4         0.961678   12325        6     2.5        2.404196

In [28]:
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  38.376281          140.800834
2                  38.376281           96.656745
3                  10.253981           27.254477
4                   0.929294            2.787882
5                  11.723262           27.151751

In [29]:
recommendation_df = pd.DataFrame()
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.668955        1
2                                     2.518658        2
3                                     2.657941        3
4                                     3.000000        4
5                                     2.316058        5

In [30]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
5073                                       5.0     5073
3329                                       5.0     3329
2284                                       5.0     2284
26801                                      5.0    26801
6776                                       5.0     6776
6672                                       5.0     6672
3759                                       5.0     3759
3769                                       5.0     3769
3775                                       5.0     3775
90531                                      5.0    90531

In [31]:
rec_m_t=movies.loc[movies['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

In [32]:
movies

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995
...,...,...,...,...
34203,151697,Grand Slam,[Thriller],1967
34204,151701,Bloodmoney,[(no genres listed)],2010
34205,151703,The Butterfly Circus,[Drama],2009
34206,151709,Zero,"[Drama, Sci-Fi]",2015
34207,151711,The 2000 Year Old Man,[(no genres listed)],1975

In [29]:
rating

          userId  movieId  rating
0              1      169     2.5
1              1     2471     3.0
2              1    48516     5.0
3              2     2571     3.5
4              2   109487     4.0
...          ...      ...     ...
22884372  247753    49530     5.0
22884373  247753    69481     3.0
22884374  247753    74458     4.0
22884375  247753    76093     5.0
22884376  247753   130636     0.5

[22884377 rows x 3 columns]

# Content Based System

In [33]:
userm = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputm['movieId'].tolist())]
userm
moviesWithGenres_df.columns

Index(['movieId', 'title', 'genres', 'year', 'Adventure', 'Animation',
       'Children', 'Comedy', 'Fantasy', 'Romance', 'Drama', 'Action', 'Crime',
       'Thriller', 'Horror', 'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War',
       'Musical', 'Western', 'Film-Noir', '(no genres listed)'],
      dtype='object')

In [34]:
userm = userm.reset_index(drop=True)
userGenreTable = userm.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
inputm['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [39]:
userProfile = userGenreTable.transpose().dot(inputm['rating'])
userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [40]:
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
genreTable.shape

(34208, 20)

In [42]:
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.594406
2    0.293706
3    0.188811
4    0.328671
5    0.188811
dtype: float64

In [43]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

movieId
5018      0.748252
26093     0.734266
27344     0.720280
148775    0.685315
6902      0.678322
dtype: float64

In [44]:
c_b_m=movies.loc[movies['movieId'].isin(recommendationTable_df.head(20).keys())]

In [45]:
final_result=pd.concat([rec_m_t,c_b_m])

In [46]:
final_result

,movieId,title,genres,year
2200,2284,Bandit Queen,[Drama],1994
3243,3329,"Year My Voice Broke, The",[Drama],1987
3669,3759,Fun and Fancy Free,"[Animation, Children, Musical]",1947
3679,3769,Thunderbolt and Lightfoot,[Action],1974
3685,3775,Make Mine Music,"[Animation, Children, Musical]",1946
4978,5073,"Son's Room, The (Stanza del figlio, La)",[Drama],2001
6563,6672,War Photographer,"[Documentary, War]",2001
6667,6776,Lagaan: Once Upon a Time in India,"[Comedy, Drama, Musical, Romance]",2001
9064,26801,Dragon Inn (Sun lung moon hak chan),[Action],1992
18106,90531,Shame,[Drama],2011
664,673,Space Jam,"[Adventure, Animation, Children, Comedy, Fanta...",1996
1824,1907,Mulan,"[Adventure, Animation, Children, Comedy, Drama...",1998
2902,2987,Who Framed Roger Rabbit?,"[Adventure, Animation, Children, Comedy, Crime...",1988
4923,5018,Motorama,"[Adventure, Comedy, Crime, Drama, Fantasy, Mys...",1991
6793,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002
8605,26093,"Wonderful World of the Brothers Grimm, The","[Adventure, Animation, Children, Comedy, Drama...",1962
8783,26340,"Twelve Tasks of Asterix, The (Les douze travau...","[Action, Adventure, Animation, Children, Comed...",1976
9296,27344,Revolutionary Girl Utena: Adolescence of Utena...,"[Action, Adventure, Animation, Comedy, Drama, ...",1999
9825,32031,Robots,"[Adventure, Animation, Children, Comedy, Fanta...",2005
11716,51632,Atlantis: Milo's Return,"[Action, Adventure, Animation, Children, Comed...",2003
11751,51939,TMNT (Teenage Mutant Ninja Turtles),"[Action, Adventure, Animation, Children, Comed...",2007
13250,64645,The Wrecking Crew,"[Action, Adventure, Comedy, Crime, Drama, Thri...",1968
16055,81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010
18312,91335,"Gruffalo, The","[Adventure, Animation, Children, Comedy, Drama]",2009
22778,108540,Ernest & Célestine (Ernest et Célestine),"[Adventure, Animation, Children, Comedy, Drama...",2012
22881,108932,The Lego Movie,"[Action, Adventure, Animation, Children, Comed...",2014
25218,117646,Dragonheart 2: A New Beginning,"[Action, Adventure, Comedy, Drama, Fantasy, Th...",2000
26442,122787,The 39 Steps,"[Action, Adventure, Comedy, Crime, Drama, Thri...",1959
32854,146305,Princes and Princesses,"[Animation, Children, Comedy, Drama, Fantasy, ...",2000
33509,148775,Wizards of Waverly Place: The Movie,"[Adventure, Children, Comedy, Drama, Fantasy, ...",2009

In [50]:
final_result['title']

2200                                          Bandit Queen
3243                              Year My Voice Broke, The
3669                                    Fun and Fancy Free
3679                             Thunderbolt and Lightfoot
3685                                       Make Mine Music
4978               Son's Room, The (Stanza del figlio, La)
6563                                      War Photographer
6667                     Lagaan: Once Upon a Time in India
9064                   Dragon Inn (Sun lung moon hak chan)
18106                                                Shame
664                                              Space Jam
1824                                                 Mulan
2902                              Who Framed Roger Rabbit?
4923                                              Motorama
6793                                         Interstate 60
8605            Wonderful World of the Brothers Grimm, The
8783     Twelve Tasks of Asterix, The (Les douze travau...
9296     Revolutionary Girl Utena: Adolescence of Utena...
9825                                                Robots
11716                              Atlantis: Milo's Return
11751                  TMNT (Teenage Mutant Ninja Turtles)
13250                                    The Wrecking Crew
16055                                               Rubber
18312                                        Gruffalo, The
22778             Ernest & Célestine (Ernest et Célestine)
22881                                       The Lego Movie
25218                       Dragonheart 2: A New Beginning
26442                                         The 39 Steps
32854                               Princes and Princesses
33509                  Wizards of Waverly Place: The Movie
Name: title, dtype: object